@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0FDFA;
  --foreground: #0F766E;
}

:root.dark {
  --background: #0C1E3A;
  --foreground: #E0F2FE;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
